build/
dist/
systemd-genie_*
genie.spec
*.deb
*.tar
*.tar.gz
genie/debian/systemd-genie
genie/debian/.debhelper
genie/debian/systemd-genie*
genie/debian/debhelper-build-stamp
genie/debian/files
genie/debian/systemd-genie.substvars
.Makefile.swp

# Rust
/target
